dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
dash-gif-component

jupyter-dash

numpy
pandas
matplotlib
seaborn
statsmodels
plotly
scikit-learn
gunicorn
dash_daq
example_module
